<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ae_result1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,31}</string>
                <key>spriteSize</key>
                <string>{190,260}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1798,389},{190,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-71}</string>
                <key>spriteSize</key>
                <string>{340,254}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1027,144},{340,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-71}</string>
                <key>spriteSize</key>
                <string>{340,254}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1027,400},{340,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-68}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1828,197},{186,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_result13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-68}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1581,633},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-68}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1581,769},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-68}</string>
                <key>spriteSize</key>
                <string>{186,134}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1769,651},{186,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-77}</string>
                <key>spriteSize</key>
                <string>{198,114}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1769,787},{198,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-59}</string>
                <key>spriteSize</key>
                <string>{206,110}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1371,787},{206,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-36}</string>
                <key>spriteSize</key>
                <string>{208,152}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1371,633},{208,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-40}</string>
                <key>spriteSize</key>
                <string>{194,140}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1841,1},{194,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_result6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-69}</string>
                <key>spriteSize</key>
                <string>{198,152}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{911,705},{198,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ae_result7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-69}</string>
                <key>spriteSize</key>
                <string>{300,242}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1496,389},{300,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-73}</string>
                <key>spriteSize</key>
                <string>{304,244}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1065,656},{304,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ae_result9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-73}</string>
                <key>spriteSize</key>
                <string>{330,252}</string>
                <key>spriteSourceSize</key>
                <string>{480,480}</string>
                <key>textureRect</key>
                <string>{{1496,135},{330,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_btnbackcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,132}</string>
                <key>spriteSourceSize</key>
                <string>{356,132}</string>
                <key>textureRect</key>
                <string>{{1483,1},{356,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,135}</string>
                <key>spriteSourceSize</key>
                <string>{436,135}</string>
                <key>textureRect</key>
                <string>{{473,705},{436,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{470,141}</string>
                <key>spriteSourceSize</key>
                <string>{470,141}</string>
                <key>textureRect</key>
                <string>{{1,705},{470,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_font3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,141}</string>
                <key>spriteSourceSize</key>
                <string>{454,141}</string>
                <key>textureRect</key>
                <string>{{1027,1},{454,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_result_1505.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,1024}</string>
                <key>spriteSourceSize</key>
                <string>{702,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{702,1024}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_confirm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,125}</string>
                <key>spriteSourceSize</key>
                <string>{344,125}</string>
                <key>textureRect</key>
                <string>{{1369,144},{344,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_blackbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1,848},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Result.png</string>
            <key>size</key>
            <string>{1989,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81f9c18ebfb3e8841758899583f898fa:09a7c61fd8058a059cd42e32308b8afc:ad8e088c37742c6bc7e5ad82dd001c38$</string>
            <key>textureFileName</key>
            <string>Result.png</string>
        </dict>
    </dict>
</plist>
