<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_btnbackbig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,117}</string>
                <key>spriteSourceSize</key>
                <string>{314,117}</string>
                <key>textureRect</key>
                <string>{{1543,613},{314,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,149}</string>
                <key>spriteSourceSize</key>
                <string>{116,149}</string>
                <key>textureRect</key>
                <string>{{1752,732},{116,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_newtips_1402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,207}</string>
                <key>spriteSourceSize</key>
                <string>{128,207}</string>
                <key>textureRect</key>
                <string>{{1543,732},{128,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_scoring2_921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,831}</string>
                <key>spriteSourceSize</key>
                <string>{512,831}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,831}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_scoring_921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,831}</string>
                <key>spriteSourceSize</key>
                <string>{512,831}</string>
                <key>textureRect</key>
                <string>{{515,1},{512,831}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_trick_921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,831}</string>
                <key>spriteSourceSize</key>
                <string>{512,831}</string>
                <key>textureRect</key>
                <string>{{1029,1},{512,831}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_welldone_921.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,412}</string>
                <key>spriteSourceSize</key>
                <string>{512,412}</string>
                <key>textureRect</key>
                <string>{{1543,1},{512,412}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,125}</string>
                <key>spriteSourceSize</key>
                <string>{344,125}</string>
                <key>textureRect</key>
                <string>{{1,834},{344,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,125}</string>
                <key>spriteSourceSize</key>
                <string>{344,125}</string>
                <key>textureRect</key>
                <string>{{347,834},{344,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,125}</string>
                <key>spriteSourceSize</key>
                <string>{344,125}</string>
                <key>textureRect</key>
                <string>{{693,834},{344,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_blackbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,12}</string>
                <key>spriteSourceSize</key>
                <string>{12,12}</string>
                <key>textureRect</key>
                <string>{{1039,932},{12,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_tutorial.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{378,96}</string>
                <key>spriteSourceSize</key>
                <string>{462,96}</string>
                <key>textureRect</key>
                <string>{{1543,515},{378,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>font_welldone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,96}</string>
                <key>spriteSourceSize</key>
                <string>{462,96}</string>
                <key>textureRect</key>
                <string>{{1039,834},{462,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Help.png</string>
            <key>size</key>
            <string>{1956,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16c5cf15ddf35632009036a4d9ca2493:bbf2903e697dc82ec287b33cbf81abae:2b18941aa285a8148ed2abeee51855d4$</string>
            <key>textureFileName</key>
            <string>Help.png</string>
        </dict>
    </dict>
</plist>
